-r requirements.txt

# This requirements are for development and testing only, not for production.
pytest
coverage
flake8
black
isort
pytest-cov
codecov
mypy
gitchangelog
mkdocs
ptyprocess==0.5.1
types-requests
